.ourstory__section {
	height: 100vh;
	width: 100%;
	display: flex;
}

.ourstory__section-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 100px;
	text-align: center;
	text-shadow: 3px 3px 5px white;
}

.container__title {
	font-size: 5rem;
	color: black;
}

.container__p {
	color: black;
	font-size: 2rem;
	font-style: italic;
}

.container__btn {
	width: 30%;
	padding: 20px;
	cursor: pointer;
	background-color: transparent;
	border: 1px black solid;
	background-color: rgba(0, 0, 0, 0.119);
	backdrop-filter: blur(40px);
	border-radius: 40px;
	transition: all 0.05s ease-in-out;
	transition: box-shadow 0.3s ease-in-out;
	box-shadow: 1px 2px 25px 3px black;
}

.btn-action {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	text-shadow: 3px 3px 5px black;
	font-size: 1.2rem;
	font-style: italic;
}

.container__btn:hover {
	backdrop-filter: blur(5px);
	box-shadow: 4px 4px 10px black;
}

.container__btn:active {
	opacity: 0.7;
}

.fulltext__section-container {
	width: 100%;
	position: relative;
	padding: 80px;
	margin: 50px;
}

.full-text {
	width: 70%;
	text-align: center;
	letter-spacing: 1px;
}

.btn-toggle {
	position: absolute;
	border: none;
	cursor: pointer;
	background-color: rgba(67, 112, 112, 0.949);
	border-radius: 50%;
}

.prev {
	left: 10%;
	top: 40%;
}

.btn-toggle:disabled {
	background-color: #ccc;
	color: #888;
	cursor: not-allowed;
	border-color: #aaa;
	box-shadow: none;
}

.btn-icon {
	width: 48px;
	padding: 10px;
}

.next {
	right: 10%;
	top: 40%;
}

.hide {
	width: 30%;
	position: absolute;
	bottom: -15px;
	left: 35%;
}
@media (max-width: 764px) {
	.ourstory__section {
		margin-top: 160px;
	}
	.container__p {
		font-size: 1.8rem;
		padding: 10px;
	}
	.ourstory__section-container {
		gap: 30px;
	}
	.fulltext__section-container {
		width: 100%;
		position: relative;
		padding: 0px;
		margin: 0px;
	}

	.full-text {
		font-size: 1.3rem;
		width: 70%;
		text-align: center;
		letter-spacing: 1px;
	}
	.hide {
		width: 50%;
		position: absolute;
		bottom: 10px;
		left: 25%;
	}
	.prev {
		left: 0%;
		top: 40%;
	}

	.btn-icon {
		width: 30px;
	}

	.next {
		right: 0%;
		top: 40%;
	}
}
