.header {
	padding: 0px;

	position: sticky;
	top: 0;
	z-index: 9999;
	background-image: url('/src/assets/background/background.png');

	background-position: top;

	color: white;
}
.header__container {
	backdrop-filter: blur(25px);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.header__container-logo {
	font-family: 'Kapakana';
	font-size: 2.6rem;
	transform: rotateZ(-10deg);
	letter-spacing: 0;
}
.container__logo-crescendo {
	transform: translateX(50px);
	display: inline-block;
}
.container__nav-list {
	display: flex;
	gap: 90px;
}

.list__item-link {
	font-size: 1.4rem;
	text-decoration: none;
	color: white;
}
.header__container-button {
	display: flex;
	flex-direction: row;
	gap: 10px;
}
.container-button {
	background-color: transparent;
	border: none;

	cursor: pointer;
}
.button-image {
	width: 32px;
}
