.main {
	height: 100vh;
	display: flex;
	align-items: center;
	position: relative;
	background-image: url('/src/assets/background/home/background.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	z-index: 1;
	margin-bottom: 70px;
}

.main__container {
	margin: 0;
	padding: 10px;
}

.main__container-logo {
	position: absolute;
	top: 15%;
	right: 10%;
	font-family: 'Playwrite';
	color: white;
	font-size: 4.8rem;
	transform: rotateZ(-10deg);
	letter-spacing: 0;
	z-index: 1;
}

.shadow {
	position: absolute;
	top: 15.2%;
	right: 9.65%;
	font-family: 'Playwrite';
	color: rgba(0, 0, 0, 0.442);
	font-size: 4.8rem;
	transform: rotateZ(-10deg);
	z-index: -1;
	letter-spacing: 0;
}

.main__container-text {
	display: flex;
	flex-direction: column;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	background: linear-gradient(to left, #ffffff, #cccccc, #ffe7c6);
	padding: 25px;
	gap: 20px;
	letter-spacing: 0;
	z-index: 0;
}

.container__text-title {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 4rem;
}

.container__text-subtitle {
	font-size: 1.8rem;
	margin: 0;
	font-family: 'Times New Roman', Times, serif;
}
