.contacts__section {
	width: 100%;
}
.contact__section-container {
	display: flex;
	flex-direction: row;
	position: relative;
}
.container-map {
	width: 50%;
}
.address__container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
}
.address__container-title {
	font-size: 2rem;
}
.address__container-contacts {
	font-size: 2rem;
	font-style: italic;
	text-decoration: none;
	color: black;
}
.coffee__bean {
	position: absolute;
	width: 500px;
	top: 50px;
	right: 50px;
}
@media (max-width: 768px) {
	.contact__section-container {
		display: flex;
		flex-direction: column;
		position: relative;
		gap: 40px;
		transform: translateY(-100px);
	}
	.container-map {
		width: 70%;
	}
	.address__container {
		display: flex;
		flex-direction: column;
		gap: 10px;
		justify-content: center;
		align-items: center;
	}
	.address__container-title {
		font-size: 2rem;
	}
	.address__container-contacts {
		font-size: 2rem;
		font-style: italic;
		text-decoration: none;
		color: black;
	}
	.coffee__bean {
		position: absolute;
		width: 500px;
		top: 50px;
		right: 50px;
	}
}
