.modal_basket {
	display: flex;
	flex-direction: column;
	padding: 30px;
	font-family: 'Courier New', Courier, monospace;
}
.modal__close-btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 5px;
}

.close__btn-image {
	width: 32px;
	transition: all 0.5s ease-in-out;
}

.close__btn-image:hover {
	transition: all 0.5s ease-in-out;
	transform: rotateZ(360deg);
}
.modal_basket-title {
	font-size: 3rem;
	letter-spacing: 0;
	width: 100%;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
	text-align: center;
	margin: 20px 0;
}
.basket__order {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
}
.div-error {
	padding: 1px;
	color: red;
}
.basket__order-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 5px;
}
.basket__order-field {
	margin: 0 auto;
	background-color: white;
	width: 80%;
	padding: 20px;
	border-radius: 20px;
	border: none;
	font-size: 1rem;
}
.basket__order-address {
	margin-top: 30px;
	width: 100%;
	display: flex;
	gap: 100px;
	align-items: center;
}
.order__buy-map {
	width: 50%;
	height: 250px;
}
.order__buy-address {
	font-size: 2.4rem;
}
.order__buy-info {
	padding: 10px;
	width: 100%;
	display: flex;
	position: absolute;
	gap: 120px;
	bottom: 20px;
	right: -10%;
}
.basket__empty {
	display: flex;
	margin-top: 300px;
	font-size: 2rem;
}
.basket__result-action {
	position: absolute;
	bottom: 5%;
	right: 10%;
}
.basket__item {
	display: flex;
	margin-bottom: 10px;
	border-bottom: 1px black solid;
}
.result__sum-order {
	position: absolute;
	bottom: 5%;
	left: 10%;
}
.basket__item-info {
	display: flex;
	margin-bottom: 10px;
}
.item__info-image {
	margin: 0;
	width: 10%;
}
.item__info-description {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	justify-content: center;
	margin: 0;
	margin-left: 20px;
	font-size: 1.2rem;
}
.info__description-name {
	margin: 0;
}
.info__description-quantity {
	margin: 0;
}
.basket__item-button {
	display: flex;
	gap: 5px;
	height: 100%;
	margin-bottom: 10px;
}
.item__button-remove {
	background-color: black;
	border: none;
	font-family: inherit;
	padding: 5px 40px;
	margin: 0;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.item__button-remove:hover {
	transform: scale(1.1);
	transition: all 0.2s ease-in-out;
}
.item__button-remove:active {
	opacity: 0.1;
}
.item_container {
	width: 100%;
}
.basket__result {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 40px;
}
.basket__result-sum {
	letter-spacing: 0;
	font-size: 2rem;
	margin: 0;
}
.basket__result-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.basket__result-button:hover {
	transform: scale(1.1);
	transition: all 0.2s ease-in-out;
}
.basket__result-button:disabled {
	opacity: 0.3;
	cursor: not-allowed;
}
.basket__result-button:disabled:hover {
	transform: none;
}
.basket__result-button:disabled:active {
	opacity: 0.3;
}
.basket__result-button:active {
	opacity: 0.1;
}

.result_button-buy {
	padding: 20px 40px;
	font-size: 1rem;
	border-radius: 5px;
	background-color: black;
	color: white;
}
.back-btn {
	background-color: white;
	color: black;
}
@media (max-width: 1200px) {
	.basket__empty {
		position: absolute;
		top: 50%;
		left: 30%;
	}
}
@media (max-width: 768px) {
	.basket__empty {
		position: absolute;
		top: 5%;
		left: 20%;
	}
	.basket__item {
		flex-direction: column;
	}
	.basket__item-button {
		width: 40%;
	}
	.basket__result-sum {
		letter-spacing: 2px;
		font-size: 1rem;
	}
	.result_button-buy {
		padding: 10px 10px;
		font-size: 0.8rem;
		border-radius: 5px;
		background-color: black;
		color: white;
	}
	.basket__order-address {
		margin-top: 10px;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 30px;
		align-items: center;
	}
	.order__buy-map {
		width: 100%;
		height: 120px;
	}
	.order__buy-address {
		font-size: 1.5rem;
	}

	.basket__result-action {
		position: absolute;
		bottom: 5%;
		right: 0;
	}
	.result__sum-order {
		position: absolute;
		font-size: 1.1rem;
		bottom: 5%;
		left: 5px;
	}
}
