.modal_basket {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 30px;
	font-family: 'Courier New', Courier, monospace;
}
.modal__close-btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 5px;
}

.close__btn-image {
	width: 32px;
	transition: all 0.5s ease-in-out;
}

.close__btn-image:hover {
	transition: all 0.5s ease-in-out;
	transform: rotateZ(360deg);
}
.modal_basket-title {
	font-size: 3rem;
	letter-spacing: 0;
	width: 100%;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
	text-align: center;
	margin: 20px 0;
}
.basket__empty {
	display: flex;
	margin-top: 300px;
	font-size: 2rem;
}
.basket__item {
	display: flex;
	margin-bottom: 10px;
	border-bottom: 1px black solid;
}
.basket__item-info {
	display: flex;
	margin-bottom: 10px;
}
.item__info-image {
	margin: 0;
	width: 10%;
}
.item__info-description {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	justify-content: center;
	margin: 0;
	margin-left: 20px;
	font-size: 1.2rem;
}
.info__description-name {
	margin: 0;
}
.info__description-quantity {
	margin: 0;
}
.basket__item-button {
	display: flex;

	gap: 5px;
	height: 100%;
	margin-bottom: 10px;
}
.item__button-remove {
	background-color: black;
	border: none;
	font-family: inherit;
	padding: 5px 40px;
	margin: 0;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.item__button-remove:hover {
	transform: scale(1.1);
	transition: all 0.2s ease-in-out;
}
.item__button-remove:active {
	opacity: 0.1;
}
.item_container {
	width: 100%;
}
.basket__result {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 40px;
}
.basket__result-sum {
	letter-spacing: 0;
	font-size: 2rem;
	margin: 0;
}
.basket__result-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.basket__result-button:hover {
	transform: scale(1.1);
	transition: all 0.2s ease-in-out;
}
.basket__result-button:active {
	opacity: 0.1;
}
.result_button-buy {
	padding: 20px 40px;
	font-size: 1rem;
	border-radius: 5px;
	background-color: black;
	color: white;
}
@media (max-width: 1200px) {
	.basket__empty {
		position: absolute;
		top: 50%;
		left: 30%;
	}
}
@media (max-width: 768px) {
	.basket__empty {
		position: absolute;
		top: 20%;
		left: 20%;
	}
	.basket__item {
		flex-direction: column;
	}
	.basket__item-button {
		width: 40%;
	}
	.basket__result-sum {
		letter-spacing: 2px;
		font-size: 1rem;
	}
}
