/* ===== ОСНОВНОЙ ФУТЕР ===== */
.footer {
	width: 100%;
}

/* ===== КОНТЕЙНЕР ФУТЕРА ===== */
.footer__container {
	backdrop-filter: blur(50px);
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px 50px;
	justify-content: space-between;
}

/* ===== ССЫЛКА НА GITHUB ===== */
.footer__link {
	margin: 0;
	display: inline-block;
}

/* ===== ЛОГОТИП GITHUB ===== */
.footer__github-logo {
	width: 50px;
	opacity: 0.5;
	transition: all 0.3s ease-in-out;
}

.footer__github-logo:hover {
	opacity: 1;
	transition: all 0.3s ease-in-out;
	transform: scale(1.05);
}

/* ===== ТЕКСТ ФУТЕРА ===== */
.footer__text {
	margin: 0;
	font-size: 1rem;
	color: #333;
}

/* ===== АДАПТИВНАЯ ВЕРСТКА ===== */
@media (max-width: 768px) {
	.footer__container {
		gap: 15px;
		padding: 10px 20px;
		flex-direction: row;
	}

	.footer__github-logo {
		width: 40px;
	}

	.footer__text {
		font-size: 0.9rem;
	}
}
