.header {
	padding: 0px;
	position: sticky;
	top: 0;
	z-index: 5;
}

.header__container {
	backdrop-filter: blur(50px);
	display: flex;
	flex-direction: row;
	align-items: center;
}

.container__nav-list {
	display: flex;
	gap: 90px;
	text-shadow: 1px 2px 10px black;
}
.nav__list-item {
	transition: all 0.2s ease-in-out;
}
.nav__list-item:hover {
	transition: all 0.2s ease-in-out;
	scale: 1.2;
}

.list__item-link {
	font-family: 'Courier New', Courier, monospace;
	font-size: 1.4rem;
	text-decoration: none;
	color: black;
	letter-spacing: 0;
}

.header__container-button {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.container-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.button-image {
	width: 32px;
	transition: all 0.2s ease-in-out;
}
.button-image:hover {
	scale: 1.2;
	transition: all 0.2s ease-in-out;
}
