.ourcafe__section {
	width: 100%;
	height: 100vh;
	display: flex;
}
.ourcafe__section-container {
	background-image: url('/src/assets/background/ourcafe/ourcafebackground.png');
	object-fit: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 100px;
	text-align: center;
	text-shadow: 3px 3px 5px black;
	transition: all 2s ease-in-out;
}
.container__title {
	font-size: 5rem;
	color: white;
}
.container__subtitle {
	color: white;
	font-size: 2rem;
}
.container__btn {
	position: absolute;
	bottom: 10%;
	left: 36%;
	width: 30%;
	padding: 20px;
	cursor: pointer;
	background-color: transparent;
	border: 1px white solid;
	background-color: #d9d9d97c;
	backdrop-filter: blur(20px);
	border-radius: 40px;
	transition: all 0.05s ease-in-out;
	transition: box-shadow 0.3s ease-in-out;
	box-shadow: 1px 2px 20px 3px black;
}
.btn-action {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	text-shadow: 3px 3px 5px black;
	font-size: 1.2rem;
}
.container__btn:hover {
	backdrop-filter: blur(5px);
	box-shadow: 4px 4px 10px black;
}
.container__btn:active {
	opacity: 0.7;
}
.slider__section-container {
	width: 100%;
	object-fit: cover;
	display: flex;
	height: 100vh;
	position: relative;
}
.btn-prev {
	position: absolute;
	left: 0;
	top: 50%;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.btn__prev-image {
	width: 48px;
	padding: 20px;
	background-color: rgba(67, 112, 112, 0.949);
	border-radius: 50%;
}
.slider__image {
	width: 100%;
	object-fit: cover;
}
.btn-next {
	position: absolute;
	right: 0;
	top: 50%;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.btn__next-image {
	width: 48px;
	padding: 20px;
	background-color: rgba(67, 112, 112, 0.949);
	border-radius: 50%;
}

.btn-prev:active {
	opacity: 0.7;
}
.btn-next:active {
	opacity: 0.7;
}
.btn-hide {
	position: absolute;
	bottom: 10%;
	left: 36%;
	width: 30%;
	padding: 20px;
	cursor: pointer;
	background-color: transparent;
	border: 1px white solid;
	background-color: #d9d9d97c;
	backdrop-filter: blur(20px);
	border-radius: 40px;
	transition: all 0.05s ease-in-out;
	transition: box-shadow 0.3s ease-in-out;
	box-shadow: 1px 2px 20px 3px black;
}
.btn-hide-slider:hover {
	backdrop-filter: blur(5px);
	box-shadow: 10px 10px 10px 3px black;
}
.btn-hide-slider:active {
	opacity: 0.7;
}
@media (max-width: 768px) {
	.ourcafe__section {
		margin-top: 20px;
	}
	.container__btn {
		position: absolute;
		bottom: 5%;
		left: 30%;
		width: 40%;
		padding: 20px;
		cursor: pointer;
		background-color: transparent;
		border: 1px white solid;
		background-color: #d9d9d97c;
		backdrop-filter: blur(20px);
		border-radius: 40px;
		transition: all 0.05s ease-in-out;
		transition: box-shadow 0.3s ease-in-out;
		box-shadow: 1px 2px 20px 3px black;
	}
	.btn-action {
		font-family: Arial, Helvetica, sans-serif;
		color: white;
		text-shadow: 3px 3px 5px black;
		font-size: 1.2rem;
	}
	.btn__prev-image {
		width: 30px;
	}
	.btn__next-image {
		width: 30px;
	}
}
